/* Global Styles
-------------------------------*/
.topnav {
  background: #E63946;
  margin: 0;
  display:inline-block;
  text-align:center;
}
.dropbtn {
  background-color: #E63946;
  color: #343434;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color:#E63946;
  min-width: 25%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #343434;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  display: block;
}
/* .dropdown-content a:hover {
  background-color: #0bc9cd
} */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #EC9A9A
}
.topnav a {
  display:block;
  text-decoration:none;
  color: #343434;
  padding-top: 20px;
  padding-bottom: 20px;
}
.topnav a:hover {
  color: #343434;
  background:#EC9A9A;
}
.topnav ul {
  list-style-type:none;
  text-align: center;
} 
.topnav ul li {
  float: left;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align: center;
  background:#E63946;
}
.topnav ul ul li {
  position:relative;
  display:none;
}
.topnav ul li:hover ul li {
  display:block;
}
.topnav ul ul ul {
  display:none;
}
.topnav ul ul li:hover ul {
  display:block;
  position:absolute;
  width:150px;
  height:50px;
  left:150px;
  top:0;
 }
 .topnav label, #hamburger {
  display: none;
}
body {
color: #343434;
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
line-height: 1.5;
}
a {
  color: #343434;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}
h2 {
  font-size: 50px;
  text-align: center;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
p {
  text-align: center;
  align-self: center;
}

/* Profile
-------------------------------*/
header {
  background: #1B065E;
  border: solid #A8DADC;
  color: #F1FAEE;
  text-align: center;
}
#profile {
  background: #A8DADC;
  border: solid #1B065E;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#left {
  background: #A8DADC;
  border: solid #1B065E;
}
#right {
  background: #A8DADC;
  border: solid #1B065E;
}
#aboutLeft {
  background: #A8DADC;
  border: solid #1B065E;
}
#aboutMLeft {
  background: #A8DADC;
  border: solid #1B065E;
}
#aboutMRight {
  background: #A8DADC;
  border: solid #1B065E;
}
#aboutRight {
  background: #A8DADC;
  border: solid #1B065E;
}
#index1 {
  background: #A8DADC;
  border: solid #1B065E;
}
#index2 {
  background: #A8DADC;
  border: solid #1B065E;
}
#index3 {
  background: #A8DADC;
  border: solid #1B065E;
}
#index4 {
  background: #A8DADC;
  border: solid #1B065E;
}

/* Projects
-------------------------------*/
#projects {
  background: #A8DADC;
  border: solid #1B065E;
}
#vcOver:hover {
  content: url(../images/VC-home300.png);
  transition: 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#topsailOver:hover {
  content: url(../images/topsail.png);
  transition: 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#biltmoreOver:hover {
  content: url(../images/biltmore.png);
  transition: 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#gamingOver:hover {
  content: url(../images/wp_gaming.png);
  transition: 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ashevilleOver:hover {
  content: url(../images/wp_asheville.png);
  transition: 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Education
-------------------------------*/
#education {
  
  background: #A8DADC;
  border: solid #1B065E;
}

/* Contact Info
-------------------------------*/
#contact {
  background: #E63946;
  border: solid #EC9A9A;
  color: #343434;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .topnav {
    padding:10px 0;
    display:block;
    height:100px;
  }
  #vcOver:hover {
    content: url(../images/VC-home300.png);
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #topsailOver:hover {
    content: url(../images/topsail.png);
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #biltmoreOver:hover {
    content: url(../images/biltmore.png);
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #gamingOver:hover {
    content: url(../images/wp_gaming.png);
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #ashevilleOver:hover {
    content: url(../images/wp_asheville.png);
    transition: 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 599px) {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .topnav {
    background: #EC9A9A;
    margin: 0 auto;
    display:inline-block;
    text-align:left;
    width: 100%;
    position: sticky;
  }
  .topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
.topnav ul li {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.topnav ul li a {
  color: #fff;
  text-decoration: none;
}
.topnav label {
  display: inline-block;
  color: #fff;
  background: #E63946;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}
  .topnav ul li {
    display: block;
  }
  .topnav ul li {
    border-top: 1px solid #333;
  }
  .topnav ul {
    display: none;
  }
  .topnav input:checked ~ ul {
    display: block;
  }
}

.contact-list {
  list-style-type: none !important;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

